figury/*
fig4Article/*
makeFig4Article/*
*.MATLABDriveTag
*.asv
main.asv
main.asv
.DS_Store
WND
figuryRAW
spectrums.mat
segments.mat
centroids.mat
app/*
figury*
figO*
figR*
/article
/fig
/old
/figBase*
!/figBase/*
signals.mat
signals.mat
signals.mat
Archiwum/.MATLABDriveTag
Archiwum/.MATLABDriveTag
/citationsAfterReviewTRNSE
/citationsAfterReviewTRNSElocalfile
/23.05.23- MVC&RAW
ArchiwumLocalfile/2023-04-20-15-06_BR pos╠üredni.csv
/ArchiwumLocalfile
/23.05.23- MVC&RAWlocalfile
signals.mat
/deprecated